body {
    background-color: beige;
    font-family: Arial, sans-serif, Verdana, sans-serif;
    margin-left: 200px;
    margin-right: 100px;
}
#lainaus {
    font-style: italic;
    margin-left: 60px;
    max-width: 700px;
}

#otto {
    margin-left: 100px;
    max-width: 700px;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    
}
p{
    margin-left: 20px;
    max-width: 900px;
}

hr{
    margin-top: 20px;
    margin-bottom: 60px;
}

li{
    margin-bottom: 10px;
}

.rivi {
    font-style: italic;
    display: flex;
    align=center;
    margin-right: 150px;
}
.sarake {
    margin: 30px;

}

.lakiteksti {
    float: left;
    width: 50%;
    padding: 10px;
    height: 200px;
    box-sizing: border-box;
    text-align: center;

}

.laki {
    display: table;
    box-sizing: border-box;
    width: 800px;
}

#yksityiset {
    margin-left: 20px;
}

