body {
    background-color: beige;
    font-family: "Times New Roman", sans-serif, Verdana, sans-serif;
    margin-left: 200px;
    max-width: 900px;
}
img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;    
}
p{
    margin-left: 20px;
    max-width: 900px;
}

hr{
    margin-top: 20px;
    margin-bottom: 60px;
}

.lainaus {
    font-style: italic;
    margin-left: 60px;
    max-width: 700px;
}


.otto {
    margin-left: 100px;
    max-width: 700px;
    font-style: italic;
}

#linkit {
    font-family: "Times New Roman", serif;
    font-size: medium;
    margin-left: 50px;
}
.yksityiset {
    margin-left: 20px;
}

.lakiteksti {
    float: left;
    width: 50%;
    padding: 10px;
    height: 200px;
    box-sizing: border-box;
    text-align: center;
}

.laki {
    display: table;
    box-sizing: border-box;
    width: 800px;
}

.oikea {
    float: right;
}

.etusivun_kuvat {
    position: relative;   /* This makes the container a reference for absolutely positioned child elements */
    width: desired-width; /* Set to the width of your images, e.g., 300px */
    height: desired-height; /* Set to the height of your images, e.g., 200px */
}

.yla {
    display: block;
    height: 400px;
    z-index: 1;
}

.ala {
    position: absolute;
    height: 400px;

    top: -20px;
    left: 280px;
}
